body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f1f1f1;
  }
  
  .form-content {
    background: #fff;
    border-radius: 5px;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    margin-top: 0;
    font-size: 28px;
    text-align: center;
    color: #333;
  }
  
  .textfield {
    position: relative;
    margin-bottom: 20px;
  }
  
  .textfield label {
    
   
    left: 10px;
    font-weight: bold;
    font-size: 17px;
    color: #333;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  .textfield input{
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background: #f9f9f9;
    outline: none;
  }
  .roles{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
    background: #f9f9f9;
    outline: none;
    
  }
  
  .form-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #4285f4;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form-button:hover {
    background: #2f69b6;
  }
  
  .register {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: #333;
  }
  
  .register a {
    color: #4285f4;
    text-decoration: none;
  }
  
  .register a:hover {
    text-decoration: underline;
  }
 